<div class="container mx-auto p-4">
    <div class="bg-gray-100 shadow p-4 my-4">
        <h2 class="text-center py-4 font-bold text-green-700 text-xl">How it Works?</h2>
        <p class="text-center">
            The most simple & convenient way to access talk therapy - anytime, anywhere, any device.
        </p>
    </div>
    <div class="relative wrap overflow-hidden">
        <div class="border-2-2 absolute border-opacity-20 border-green-50 h-full border left-1/2"></div>
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-green-600 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Choose the Right Plan</h3>
                <p class="text-gray-700 leading-tight">Decide on the number of sessions you would like to opt for.
                </p>
            </div>
        </div>
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-green-600 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">2</h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Know Your Needs</h3>
                <p class="text-gray-700 leading-tight">Answer a few quick questions and get a therapist recommendation
                    right away.
                </p>
            </div>
        </div>
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-green-600 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">3</h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Get Matched</h3>
                <p class="text-gray-700 leading-tight">Choose the recommended therapist or talk to a matching expert who
                    will connect you with the right
                    therapist based on your needs. </p>
            </div>
        </div>
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-green-600 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">4</h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Schedule A Session</h3>
                <p class="text-gray-700 leading-tight">Choose a convenient time slot and get an appointment with your
                    therapist.
                </p>
            </div>
        </div>
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-green-600 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">5</h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Get Therapy</h3>
                <p class="text-gray-700 leading-tight">At the scheduled time, join the session with your therapist using
                    the mobile application or web browser.</p>
            </div>
        </div>
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-green-600 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">6</h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Continuous Support
                </h3>
                <p class="text-gray-700 leading-tight">You have the flexibility to reschedule sessions or change the
                    counselor at any point. For any issues or support, Felicity helpdesk has you covered.</p>
            </div>
        </div>
    </div>
</div>