// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "tailwindcss";

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* You can add global styles to this file, and also import other style files */

@theme {
  --color-green-50: oklch(0.66 0.109 152.57);
  --color-green-100: oklch(0.962 0.044 156.743);
  --color-green-200: oklch(0.925 0.084 155.995);
  --color-green-300: oklch(0.871 0.15 154.449);
  --color-green-400: oklch(0.792 0.209 151.711);
  --color-green-500: oklch(0.723 0.219 149.579);
  --color-green-600: oklch(0.68 0.1207 155.1);
  --color-green-700: oklch(0.53 0.0821 168.47);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Mulish", Roboto, "Helvetica Neue", sans-serif;
}