<div class="-my-6 divide-y divide-gray-500/10">
    <div class="space-y-2 py-6 flex flex-col gap-4 items-center">
        <a routerLink="/home/how-it-works" class="text-sm/6 font-semibold text-gray-900">How it works?</a>
        <a routerLink="/home/plans-pricing" class="text-sm/6 font-semibold text-gray-900">Plans & Pricing</a>
        <a routerLink="/home/therapists" class="text-sm/6 font-semibold text-gray-900">Our Therapists</a>
        <a routerLink="/home/how-it-works" class="text-sm/6 font-semibold text-gray-900">About us</a>
    </div>
    <div class="py-6 text-center">
        <a routerLink="/auth/login"
            class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log
            in</a>
    </div>
</div>